.month-field{
  display: grid;
  grid-template-columns:100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows:100px 100px 100px 100px 100px 100px 100px;
}
.day-field, .day-head{
  border: black solid 1px;
  background-color: #312c2c;
  color: white;
  font-size: 24px;
  font-family: Arial, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day-field:hover{
  background-color: rgba(49, 44, 44, 0.8);
  cursor: pointer;
}
.day-field:active{
  background-color: rgba(49, 44, 44, 0.5);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#month{
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  margin-top: 20px;
  height: 60px;
  width: 200px;
}