h1, h2, p{
    font-family: Arial, serif;
}
.big-h{
    font-size: 28px;
    font-weight: bold;
}
.small-h{
    font-size: 22px;
    font-weight: bold;
}
.small-p{
    font-size: 18px;
    line-height: 24px;
}
.timestamp-list{
    list-style: none;
}
.patches{
    margin-left: 20px;
    width: 1200px;
}
.guidelines{
    margin-left: 20px;
    width: 1200px;
}