.content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 100px;
}
th, td{
  padding: 22px;
  border: black solid 1px;
}
h2{
  padding: 22px;
}
p{
  padding: 22px;
}