.content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 100px;
}
th, td{
  padding: 22px;
  border: black solid 1px;
}
h2{
  padding: 22px;
}
p{
  padding: 22px;
}
.add-button{
  background-color: #008cff;
  border: none;
  border-radius: 80px;
  padding: 18px;
  color: white;
  transition: all 0.15s;
  font-weight: bold;
  font-size: 18px;
}
.add-button:hover{
  box-shadow: 0 0 10px black;
}
.add-button:active{
  box-shadow: 0 0 10px black;
  background-color: white;
  color: #008cff;
}