<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Event</title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/general.css">
  <link rel="stylesheet" href="/addWindow.css">
  <link rel="stylesheet" href="/calendar/day.css">
</head>
<body>
<header class="header">
  <ul class="header-content">
    <li><a href="/home">Home</a></li>
    <li><a href="/dogs">Dogs</a></li>
    <li><a href="/owner">Owner</a></li>
    <li><a href="/user">User</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li class="inbox-unread-container">
      <a href="/mail/inbox">Inbox</a>
      <div th:switch="${unreadMailCount}">
        <div th:case="0"></div>
        <div class="inbox-unread-count" th:case="*" th:text="*{unreadMailCount}"></div>
      </div>
    </li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>
  <form action="#" th:action="@{/calendar/add-event}" th:object="${event}" method="post">
    <div class="field">
      <input class="invisible" id="day-input" th:field="*{event_day}">
      <input class="invisible" id="month-input" th:field="*{event_month}">
      <input class="invisible" id="year-input" th:field="*{event_year}">
      <div class="date">
        <p id="day" th:text="${day}"></p><p class="space">. </p>
        <p id="month" th:text="${month}"></p>
        <p id="year" th:text="${year}"></p>
      </div>
    </div>
    <div class="field">
      <label for="title">Title</label>
      <div class="input-field">
        <input type="text" class="input" id="title" th:field="*{title}" placeholder="Title" required>
      </div>
    </div>
    <div class="field">
      <label for="content">Content</label>
      <div class="input-field">
        <input type="text" class="input" id="content" th:field="*{content}" placeholder="Content" required>
      </div>
    </div>
    <div class="field">
      <label for="starting">Starting</label>
      <div class="input-field">
        <input type="time" class="input" id="starting" th:field="*{starting}" required>
      </div>
    </div>
    <div class="field">
      <label for="ending">Ending</label>
      <div class="input-field">
        <input type="time" class="input" id="ending" th:field="*{ending}" required>
      </div>
    </div>
    <div th:switch="${#lists.size(dogs)}">
      <p th:case="'0'">No Dogs yet!<a href="/add-dogs"> Add One here</a></p>
      <div class="field" th:case="*" >
        <label for="dogs">Dogs</label>
        <select id="dogs" th:field="*{dog}" required>
          <option th:each="dog : ${dogs}" th:text="${dog.name}" th:value="${dog.id}"></option>
        </select>
      </div>
    </div>
    <input class="submit" type="submit" value="Add Event">
  </form>
  <script>
    const dayElement = document.getElementById("day");
    document.getElementById("day-input").value = dayElement.innerHTML;
    const monthElement = document.getElementById("month");
    document.getElementById("month-input").value = monthElement.innerHTML;
    const yearElement = document.getElementById("year");
    document.getElementById("year-input").value = yearElement.innerHTML;

    const MONTH_ELEMENT = document.getElementById('month');
    const MONTHS = ["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"];

    MONTH_ELEMENT.innerHTML = MONTHS[MONTH_ELEMENT.innerHTML];
  </script>
</body>
</html>