<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="/calendar/calendar.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/header.css">
  </head>
  <body>
  <header class="header">
    <ul class="header-content">
      <li><a href="/index">Home</a></li>
      <li><a href="/dogs">Dogs</a></li>
      <li><a href="/owner">Owner</a></li>
      <li><a href="/calendar">Calendar</a></li>
    </ul>
  </header>
    <p id="month"></p>
    <div class="invisible" th:each="event : ${events}">
      <p class="invisible year"  th:text="${event.event_year}"></p>
      <p class="invisible month"  th:text="${event.event_month}"></p>
      <p class="invisible day"  th:text="${event.event_day}"></p>
    </div>
    <div class="month-field">
      <div class="day-head">Mo</div>
      <div class="day-head">Di</div>
      <div class="day-head">Mi</div>
      <div class="day-head">Do</div>
      <div class="day-head">Fr</div>
      <div class="day-head">Sa</div>
      <div class="day-head">So</div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
      <div class="day-field" onclick="dayClick(this)"></div>
    </div>
    <div>
      <button class="button" onclick="changeMonth(-1)">Back</button>
      <button class="button" onclick="changeMonth(1)">Next</button>
    </div>
    <script src="/calendar/calendar.js"></script>
  </body>
</html>