<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Day viewer</title>
    <link rel="stylesheet" href="/calendar/day.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/table.css">
  </head>
  <body>
    <header class="header">
      <ul class="header-content">
        <li><a href="/index">Home</a></li>
        <li><a href="/dogs">Dogs</a></li>
        <li><a href="/owner">Owner</a></li>
        <li><a href="/calendar">Calendar</a></li>
      </ul>
    </header>
    <div class="date">
      <p class="no-padding" id="day" th:text="${day}"></p><p class="space no-padding">. </p>
      <p class="no-padding" id="month" th:text="${month}"></p>
      <p class="no-padding" id="year" th:text="${year}"></p>
    </div>
    <div class="center" th:switch="${#lists.size(events)}">
      <div class="center column" th:case="'0'">
        <h2>No Events yet!</h2>
      </div>
      <div th:case="*">
        <table cellspacing="0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Content</th>
              <th>Starting</th>
              <th>Ending</th>
              <th>Dog</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="event : ${events}" th:switch="${event.dog}">
              <td th:text="${event.title}"></td>
              <td th:text="${event.content}"></td>
              <td th:text="${event.starting}"></td>
              <td th:text="${event.ending}"></td>
              <td th:case="*" th:text="${event.dog.name}"></td>
              <td th:case="null">N/A</td>
              <td><a th:href="@{/calendar/update-event/{id}(id=${event.id})}">Edit</a></td>
              <td><a th:href="@{/calendar/delete-event/{id}(id=${event.id})}">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="center"><button onclick="addEvent()" class="add-button">Add Event</button></p>
    </div>
  <script src="/calendar/day.js"></script>
  </body>
</html>