<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Dogs</title>
  <link rel="stylesheet" href="/addWindow.css">
  <link rel="stylesheet" href="/general.css">
  <link rel="stylesheet" href="/header.css">
</head>
<body>
<header class="header">
  <ul class="header-content">
    <li><a href="/home">Home</a></li>
    <li><a href="/dogs">Dogs</a></li>
    <li><a href="/owner">Owner</a></li>
    <li><a href="/user">User</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li class="inbox-unread-container">
      <a href="/mail/inbox">Inbox</a>
      <div th:switch="${unreadMailCount}">
        <div th:case="0"></div>
        <div class="inbox-unread-count" th:case="*" th:text="*{unreadMailCount}"></div>
      </div>
    </li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>
  <form action="#" th:action="@{/dogs/add-dogs}" th:object="${dogs}" method="post">
    <div class="field">
      <label for="name">Name</label>
      <div class="input-field">
        <input class="input" type="text" th:field="*{name}" id="name" placeholder="Name" required>
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
    </div>
    <div class="field">
      <label for="breed">Breed</label>
      <div class="input-field">
        <input class="input" type="text" th:field="*{breed}" id="breed" placeholder="Breed" required>
        <span class="error" th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}"></span>
      </div>
    </div>
    <div class="field">
      <label for="age">Age</label>
      <div class="input-field">
        <input class="input" type="number" min="1" max="50" th:field="*{age}" id="age" value="2" required>
        <span class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
      </div>
    </div>
    <div th:switch="${#lists.size(owner)}">
      <p th:case="'0'">No Owners yet!<a href="/owner/new-owner"> Add One here</a></p>
      <div th:case="*" class="center">
        <div class="field">
          <label for="owner">Owner</label>
          <select id="owner" th:field="*{owner}" required>
            <option th:each="owner : ${owner}" th:text="${owner.first_name}" th:value="${owner.id}"></option>
          </select>
        </div>
        <input class="submit" style="margin-top: 40px" type="submit" value="Add Dog">
      </div>
    </div>
  </form>
</body>
</html>
