html {
    font-family: Arial, serif;
}
.big-h{
    font-size: 28px;
    font-weight: bold;
}
.small-h{
    font-size: 22px;
    font-weight: bold;
}
.small-p{
    font-size: 18px;
    line-height: 24px;
}
.invisible{
    font-size: 0;
    display: inline-block;
    visibility: hidden;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}