th, td{
    padding: 22px;
}
thead tr th{
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}
thead tr th:first-child{
    border-left: black solid 1px;
}
tbody tr td{
    border-top:  black solid 1px;
    border-right:  black solid 1px;
}
tbody tr td:first-child{
    border-left:  black solid 1px;
}
tbody tr:last-child td{
    border-bottom: black solid 1px;
}
tbody tr td:last-child, tbody tr td:nth-last-child(2){
    border: none;
}
.table{
    margin-left: 20px;
}
.no-padding{
    padding: 0;
}