<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/general.css">
</head>
<body>
<header class="header">
  <ul class="header-content">
    <li><a href="/home">Home</a></li>
    <li><a href="/dogs">Dogs</a></li>
    <li><a href="/owner">Owner</a></li>
    <li><a href="/user">User</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li class="inbox-unread-container">
      <a href="/mail/inbox">Inbox</a>
      <div th:switch="${unreadMailCount}">
        <div th:case="0" class="invisible"></div>
        <div class="inbox-unread-count" th:case="*" th:text="*{unreadMailCount}"></div>
      </div>
    </li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>
  <div class="guidelines">
    <h1 class="big-h">
      Guidelines
    </h1>
    <p class="small-p">
      This Web Application was programmed by Ryoshi if you have any questions or something else to mention
      pls contact me via my <a href="https://github.com/Ry0sh1">GitHub</a>
    </p>
    <p class="small-p">
      For now with this Web Application you can just store dogs and Owner in a Database. Via the dog Tab you
      can see all dogs and with a click on "Add a new Dog" you can add a new dog to the database. Every field is
      required even the owner. We do not accept dogs without an owner. To add an Owner you can visit the owner
      tab and click on "Add a new Owner". Like in the add dog tab every single field is required!
    </p>
  </div>
  <div class="patches">
    <h1 class="big-h">
      Patches
    </h1>
    <ul class="timestamp-list">
      <li>
        <h2 class="small-h">19.06.2023</h2>
        <ul>
          <li>
            <p class="small-p">
              Added Header to the GUI
            </p>
          </li>
          <li>
            <p class="small-p">
              Own Site for Owner and Dog Table => More space to work in and more Data to show
            </p>
          </li>
          <li>
            <p class="small-p">
              Added this Patch Overview to the site
            </p>
          </li>
          <li>
            <p class="small-p">
              Bug fixes: Tables with no elements shows empty table instead of 'error' message
            </p>
          </li>
          <li>
            <p class="small-p">
              Buttons instead of links. Changed the Font Type to Arial, serif
            </p>
          </li>
          <li>
            <p class="small-p">
              Breed Filter
            </p>
          </li>
          <li>
            <p class="small-p">
              Improved Look on Tables
            </p>
          </li>
          <li>
            <p class="small-p">
              Improved Look on Edit Owner/Dogs
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="small-h">20.06.2023</h2>
        <ul>
          <li>
            <p class="small-p">
              Working filter option for breeds in dog tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Better redirecting
            </p>
          </li>
          <li>
            <p class="small-p">
              Working Filter option for owner in dog tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Error handling
            </p>
          </li>
          <li>
            <p class="small-p">
              Added Calendar Tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Made Days in Calendar clickable and Added Day Tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Added Event Table
            </p>
          </li>
          <li>
            <p class="small-p">
              Improved Calendar GUI
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="small-h">21.06.2023</h2>
        <ul>
          <li>
            <p class="small-p">
              Made it possible to add an Event
            </p>
          </li>
          <li>
            <p class="small-p">
              Added Goals List
            </p>
          </li>
          <li>
            <p class="small-p">
              You can now view Events in Event Tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Visual feature on Days with Event
            </p>
          </li>
          <li>
            <p class="small-p">
              Better redirecting after adding an Event
            </p>
          </li>
          <li>
            <p class="small-p">
              Changed how the Database is saved an Event to prevent following bugs:
            </p>
            <ul>
              <li>
                Dates that are saved in a 7 digit way for example 2023123 could be two days 23.1.2023 and 3.12.2023 therefore there would be same events on both days if
                you add it to one
              </li>
              <li>
                Not possible to read exactly out of Database if you save the date in this pattern "yyyy(m)m(d)d" therefore better directing wouldn't be possible
              </li>
            </ul>
          </li>
          <li>
            <p class="small-p">
              It's now possible to make Events without dogs
            </p>
          </li>
          <li>
            <p class="small-p">
              Fixed Header
            </p>
          </li>
          <li>
            <p class="small-p">
              Required fields in Add Tabs
            </p>
          </li>
          <li>
            <p class="small-p">
              More error handling
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="small-h">22.06.2023</h2>
        <ul>
          <li>
            <p class="small-p">
              Bug Fixes: Weird table if you added an Event after my last Patch
            </p>
          </li>
          <li>
            <p class="small-p">
              Edit Events in Event Tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Delete Events in Event Tab
            </p>
          </li>
          <li>
            <p class="small-p">
              Added new Table: Employee
            </p>
          </li>
          <li>
            <p class="small-p">
              Added new Table: Customer
            </p>
          </li>
          <li>
            <p class="small-p">
              Added new Super Class User inherited from Customer and Employee
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="patches">
    <h1 class="big-h">
      Goals
    </h1>
    <ul>
      <li>
        <p class="small-p">
          Show all Events
        </p>
      </li>
    </ul>
  </div>
</body>
</html>