<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log-In</title>
  <link rel="stylesheet" href="/log-in.css">
  <link rel="stylesheet" href="/general.css">
</head>
<body>
  <div>
    <label for="username">What is your username?</label>
    <input id="username" type="text" class="input">
    <label for="password">What is your password?</label>
    <input id="password" type="password" class="input">
    <input type="submit" class="submit">
    <p>Are u an Employee?<a> Click here to log in</a></p>
  </div>
</body>
</html>